<%- include('../partials/headerWithoutNav') %>

<!--  -->
<!--  -->

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 width:100%">
      <!--  -->

      <h1 class="text-dark fw-bold text-center">🐸e-commerceApp Login</h1>
      <!--  -->
      <div class="bg-white shadow rounded p-3 input-group-lg">
        <!-- form -->
        <form action="#">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="loginUsername"
              required
            />
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              required
            />
          </div>
        </form>
      </div>

      <div class="mt-3">
        <!-- form Button -->

        <button
          class="btn btn-success w-100"
          id="loginButton"
          onclick="onLoginButton()"
        >
          Submit
        </button>
        <!-- register button -->
        <hr />

        <p class="text-dark text-center">
          To login into the app, first register
        </p>

        <div class="text-center">
          <button class="btn btn-info w-50" onclick="toRegisterPage()">
            Register
          </button>
        </div>
        <!-- modal -------------------------------->

        <!-- modal ends -->
      </div>
    </div>
  </div>
</div>

<!--  -->

<script>
  //
  async function toRegisterPage() {
    try {
      window.location.href = `${window.location.origin}/auth/register`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function onLoginButton() {
    //
    try {
      const username = document.getElementById("loginUsername").value;
      const password = document.getElementById("loginPassword").value;
      //
      //
      const data = { username: username, password: password };
      //
      const response = await fetch(`${window.location.origin}/auth/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        //
      });
      //
      const result = await response.json();
      //
      console.log(result, "result");

      //if login successful - redirect
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          if (oneMessage == "login success") {
            window.location.href = `${window.location.origin}/product/getAllProducts`;
          }
        }
      }
      //
    } catch (error) {
      console.log(err);
    }
  }
</script>
