<%- include('../partials/beforeLoginHeader') %>

<h2>Login</h2>

<form action="#">
  <!-- Register -->
  <label for="username">Username</label>
  <input type="text" id="loginUsername" required />
  <br />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="loginPassword" required />
</form>
<!-- form Button -->
<button id="loginButton" onclick="onLoginButton()">Submit</button>

<!--  -->
<script>
  //
  async function onLoginButton() {
    //
    try {
      const username = document.getElementById("loginUsername").value;
      const password = document.getElementById("loginPassword").value;
      //
      //
      const data = { username: username, password: password };
      //
      const response = await fetch(`${window.location.origin}/auth/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        //
      });
      //
      const result = await response.json();
      //
      console.log(result, "result");

      //if login successful - redirect
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          if (oneMessage == "login success") {
            window.location.href = `${window.location.origin}/product/getAllProducts`;
          }
        }
      }
      //
    } catch (error) {
      console.log(err);
    }
  }
</script>
