<%- include('../partials/headerWithoutNav') %>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 width:100%">
      <!--  -->
      <h1 class="text-dark fw-bold text-center">🐸e-commerceApp Register</h1>
      <!--  -->
      <div class="bg-white shadow rounded p-3 input-group-lg">
        <form action="#">
          <!-- username -->
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="registerUsername"
              required
            />
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="registerPassword"
              required
            />
          </div>
          <!--  -->
        </form>

        <!--form ends  -->
      </div>
      <!-- form Button -->
      <div class="mt-3">
        <button
          class="btn btn-success w-100"
          id="registerButton"
          onclick="onRegisterButton()"
        >
          Submit
        </button>
      </div>
      <!-- form submit button ends-->
      <hr />

      <p class="text-dark text-center">Alredy registered? then login</p>
      <p />

      <!--login page  button from register page -->
      <div class="mt-3 text-center">
        <button class="btn btn-info w-50" onclick="onButtontoLoginPage()">
          Login
        </button>
      </div>
      <!--  -->
    </div>
  </div>
</div>

<!--  -->
<script>
  //
  async function onButtontoLoginPage() {
    try {
      window.location.href = `${window.location.origin}/auth/login`;
    } catch (err) {
      console.log(err);
    }
  }
  //

  //
  async function onRegisterButton() {
    try {
      //
      const username = document.getElementById("registerUsername").value;
      const password = document.getElementById("registerPassword").value;
      //
      const data = { username: username, password: password };
      //
      console.log(username, "username");
      console.log(password, "password");

      //
      const response = await fetch(`${window.location.origin}/auth/register`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify(data),
      });
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          if (oneMessage == "registration success") {
            window.location.href = `${window.location.origin}/product/getAllProducts`;
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
