<%- include('../partials/headerWithoutNav') %>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 width:100%">
      <!--  -->
      <h1 class="text-dark fw-bold text-center">🤖Action Store Register</h1>
      <!--  -->
      <!--  -->
      <!-- for alert -->
      <!-- Add the alertContainer div inside the body -->
      <div id="alertContainer"></div>
      <!--  -->
      <div class="bg-white shadow rounded p-3 input-group-lg">
        <form action="#">
          <!-- username -->
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="registerUsername"
              required
            />
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="registerPassword"
              required
            />
          </div>
          <!--  -->
        </form>

        <!--form ends  -->
      </div>
      <!-- form Button -->
      <div class="mt-3">
        <button
          class="btn btn-secondary w-100"
          id="registerButton"
          onclick="onRegisterButton()"
        >
          Submit
        </button>
      </div>
      <!-- form submit button ends-->
      <hr />

      <p class="text-dark text-center">Alredy registered? then login</p>

      <!--login page  button from register page -->
      <div class="mt-3 text-center">
        <button class="btn btn-success w-50" onclick="onButtontoLoginPage()">
          Login
        </button>
      </div>
      <!--  -->
    </div>
  </div>
</div>

<!--  -->
<script>
  //
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }
  //
  //
  //
  async function onButtontoLoginPage() {
    try {
      window.location.href = `${window.location.origin}/auth/login`;
    } catch (err) {
      console.log(err);
    }
  }
  //

  //
  async function onRegisterButton() {
    try {
      //
      const username = document.getElementById("registerUsername").value;
      const password = document.getElementById("registerPassword").value;
      //
      const data = { username: username, password: password };
      //
      console.log(username, "username");
      console.log(password, "password");

      //
      const response = await fetch(`${window.location.origin}/auth/register`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify(data),
      });
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      //alert
      // await showBootstrapAlert(oneMessage, "primary");
      //
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          //alert
          await showBootstrapAlert(oneMessage, "primary");
          //
          if (oneMessage == "registration success") {
            // window.location.href = `${window.location.origin}/product/getAllProducts`;
            //
            await setTimeout(() => {
              //
              window.location.href = `${window.location.origin}/product/getAllProducts`;
            }, 2000);
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>

<!--  -->
<%- include('../partials/footer') %>
