<%- include('../partials/userHeader') %>

<ul>
  <h3>
    <!--  -->
    <li><a href="/user/getAllUser">all user details</a></li>
    <li><a href="/product/createProduct">create product</a></li>
    <li><a href="/cart/getAllUserCarts">all user carts</a></li>
  </h3>
</ul>
