<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce App</title>
    <!--  -->
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/images/icon.png" type="image/png" />
    <!--  -->
  </head>
  <body>
    <!--  -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <!--  -->
        <a class="navbar-brand px-5" href="/product/getAllProducts"
          >🤖Action Store</a
        >
        <!--  -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--  -->
        <!--  -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!--  -->
          <ul class="nav navbar-nav px-5">
            <!-- admin only -->
            <li class="nav-item dropdown">
              <!--  -->
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Admin Only</a
              >
              <!--  -->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--  -->
                <a class="dropdown-item" href="/user/getAllUser">All Users</a>
                <!--  -->
                <a class="dropdown-item" href="/product/createProduct"
                  >Create Product</a
                >
                <!--  -->
                <!-- <div class="dropdown-divider"></div> -->
                <!--  -->
                <a class="dropdown-item" href="/cart/getAllUserCarts"
                  >All Carts</a
                >
                <!--  -->
                <a class="dropdown-item" href="/order/getAllorders"
                  >All Orders</a
                >
                <!--  -->
                <a class="dropdown-item" href="/order/getMonthlyIncome"
                  >Earnings Details</a
                >
                <!--  -->
              </div>
              <!--  -->
            </li>
            <!--  -->
            <li class="nav-item">
              <!--  -->
              <a class="nav-link" href="/user/getOwnDetail">Profile</a>
              <!--  -->
            </li>
            <!--  -->
            <li class="nav-item">
              <!--  -->
              <a class="nav-link" href="/product/getAllProducts">Products</a>
              <!--  -->
            </li>
            <!--  -->

            <!--  -->
            <!--  -->
            <li class="nav-item">
              <!--  -->
              <a class="nav-link" href="/order/getYourOrders">Orders</a>
              <!--  -->
            </li>
            <!--  -->
            <!--  -->
            <!--  -->
            <li class="nav-item">
              <!--  -->
              <a class="nav-link" href="/cart/createCart">Cart</a>
              <!--  -->
            </li>
            <!--  -->
            <!--  -->
          </ul>
          <!--  -->
          <!--  -->
          <ul class="navbar-nav ms-auto">
            <!--  -->
            <!--  -->
            <li class="nav-item mx-5 px-5">
              <!--  -->
              <a class="nav-link" href="/auth/logout"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a
              >
              <!--  -->
            </li>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <li class="nav-item mx-5 px-5">
              <!--  -->
              <a class="nav-link" href="/cart/createCart"
                ><i class="fas fa-shopping-cart"></i>Cart</a
              >
              <!--  -->
            </li>
            <!--  -->

            <!--  -->
          </ul>
          <!--  -->
        </div>
        <!--  -->
      </div>
    </nav>
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--  -->
  </body>
</html>
