<ul>
  <h3>
    <li><a href="/user/getOwnDetail">own details</a></li>
    <li><a href="/user/getAllUser">all user details</a></li>
    <li><a href="/product/getAllProducts">all products</a></li>
  </h3>
</ul>
