<ul>
  <h3>
    <li><a href="/user/getOwnDetail">own details</a></li>
    <li><a href="/product/getAllProducts">all products</a></li>
    <li><a href="/cart/createCart">view cart</a></li>
    <li><a href="/order/getYourOrders">view orders</a></li>
  </h3>
</ul>
