<% if (user.isAdmin==true) { %>
<!--  -->
<%- include('partials/adminHeader') %>
<!--  -->
<% } %>

<h3>Own Details</h3>

<div>
  <p>username:<%= user.username %></p>
  <!-- if user is admin -->
  <% if (user.isAdmin==true) { %>
  <p>admin:<%= user.isAdmin %></p>
  <% } %>
</div>
