<%- include('../partials/adminHeader') %>
<!--  -->
<div>
  <% if (getAllUser.length>0) { %>
  <!--  -->
  <% for( let i = 0; i < getAllUser.length; i++ ) { %>

  <li>username:<%= getAllUser[i].username%></li>

  <% } %>
  <!--  -->
  <% }else{%>
  <p>No user found</p>
  <%}%>
</div>
