<%- include('../partials/adminHeader') %>
<!--  -->
<h3 class="text-center">Get all users</h3>
<!--  -->
<div>
  <% if (getAllUser.length>0) { %>
  <!--  -->
  <div class="row justify-content-center">
    <!--  -->
    <div class="col-lg-6">
      <!--  -->
      <div class="card mt-5 mb-5">
        <!--  -->
        <div class="card-body">
          <!--  -->
          <div class="row g-0 align-items-center">
            <!--  -->
            <% for( let i = 0; i < getAllUser.length; i++ ) { %>

            <div class="col-md-6 mt-3">
              <h5>username:<%= getAllUser[i].username%></h5>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-secondary mt-3"
                id="getOneUserId"
                onclick="getOneUserFunc('<%= getAllUser[i]._id%>')"
              >
                user details
              </button>
            </div>
            <!--  -->
            <hr />

            <% } %>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <% }else{%>
  <br />
  <h4 class="text-center">No user found</h4>
  <%}%>
</div>
<script>
  //
  async function getOneUserFunc(userId) {
    //
    try {
      //
      window.location.href = `${window.location.origin}/user/getOneUser/${userId}`;
    } catch (err) {
      console.log(err);
    }
  }
</script>
