<%- include('../partials/adminHeader') %>
<!--  -->
<h3 class="text-center">Get all users</h3>
<!--  -->
<div>
  <% if (getAllUser.length>0) { %>
  <!--  -->
  <div class="row justify-content-center">
    <!--  -->
    <div class="col-lg-6">
      <!--  -->
      <div class="card mt-5 mb-5">
        <!--  -->
        <div class="card-body">
          <!--  -->
          <div class="row g-0 align-items-center">
            <!--  -->
            <% for( let i = 0; i < getAllUser.length; i++ ) { %>
            <div>
              <div class="col-md-6">
                <p>username:<%= getAllUser[i].username%></p>
              </div>
              <div class="col-md-6">
                <button
                  id="getOneUserId"
                  onclick="getOneUserFunc('<%= getAllUser[i]._id%>')"
                >
                  user details
                </button>
              </div>
              <!--  -->
            </div>
            <br />
            <% } %>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <% }else{%>
  <p>No user found</p>
  <%}%>
</div>
<script>
  //
  async function getOneUserFunc(userId) {
    //
    try {
      //
      window.location.href = `${window.location.origin}/user/getOneUser/${userId}`;
    } catch (err) {
      console.log(err);
    }
  }
</script>
