<%- include('../partials/adminHeader') %>

<h3>get one user</h3>

<div>
  <li>username:<%= oneUser.username%></li>
  <!--  -->
  <button
  id="viewProductId"
  onclick="viewProduct('<%= allProducts[i]._id%>')"
>
</div>
