<%- include('../partials/adminHeader') %>

<h3>get one user</h3>

<div>
  <li>username:<%= oneUser.username%></li>
  <!--  -->
  <button id="deleteUserId" onclick="deleteUserFunc('<%= oneUser._id%>')">
    Delete user
  </button>
  <!--  -->
  <button id="userCartId" onclick="userCartFunc('<%= oneUser._id%>')">
    view cart
  </button>
</div>

<!--  -->
<script>
  //
  async function userCartFunc(userId) {
    //
    try {
      //
      window.location.href = `${window.location.origin}/cart/getOneUserCart/${userId}`;
      //
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deleteUserFunc(userId) {
    //
    try {
      //
      const response = await fetch(
        `${window.location.origin}/user/deleteUser/${userId}`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          //   body: JSON.stringify(data),
        }
        //
      );
      const result = await response.json();

      console.log(result, "result");
      //

      //   if login successful - redirect
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          if (oneMessage == "user deleted") {
            window.location.href = `${window.location.origin}/user/getAllUser`;
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
