<%- include('../partials/adminHeader') %>
<!--  -->
<h3>Update product</h3>
<!--  -->
<!-- for alert -->
<!-- Add the alertContainer div inside the body -->
<div id="alertContainer"></div>
<!--  -->
<!--  -->
<h5>Update product details</h5>
<form action="#">
  <!-- title -->
  <label for="title">title</label>
  <input type="text" id="productTitle" required />
  <br />
  <!-- productLeft -->
  <label for="productLeft">product left</label>
  <input type="number" id="productLeftId" required />
  <br />
  <!--  price-->
  <label for="price">price</label>
  <input type="number" id="priceId" required />
  <br />
  <!-- categories -->
  <label for="categories">categories</label>
  <input type="text" id="categoriesId" required />
  <br />
  <!--  -->
</form>
<!-- form Button -->
<button id="updateProdButton" onclick="updateProdFunc()">Submit</button>
<!--  -->
<h5>Update product Image</h5>
<!--  -->
<form action="#">
  <!--  -->
  <label for="imageUpload">Image</label>
  <input type="file" id="productImageId" name="file" />
  <!--  -->
</form>
<button id="updateProdImage" onclick="updateImgFunc()">update image</button>
<!--  -->

<script>
  //
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }
  //
  //
  const urlLocation = window.location.href;
  const urlLocationSplit = urlLocation.split("/");

  const urlId = urlLocationSplit[5];
  console.log(urlId, "urlId");

  //

  //
  async function updateImgFunc() {
    //
    try {
      const imageUpload = document.getElementById("productImageId");
      //this line was important - to upload image from browser
      const imageFile = imageUpload.files[0];
      //
      let data = new FormData();
      //
      data.append("file", imageFile);
      //
      const response = await fetch(
        `${window.location.origin}/product/updateImagePath/${urlId}`,
        {
          method: "PUT",

          body: data,
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];

          //
          //
          //alert
          await showBootstrapAlert(oneMessage, "primary");
          //--- "new product created"
          //
          // if (oneMessage == "new product created") {
          //   // window.location.href = window.location.href;
          //   //
          //   await setTimeout(() => {
          //     //
          //     window.location.href = window.location.href;
          //   }, 2000);
          // }
          //
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }

  //   console.log(url);

  ////////////////////////////

  //////////////////////////
  async function updateProdFunc() {
    //
    try {
      //
      let title = document.getElementById("productTitle").value;
      //   console.log(title, "title");
      if (title == "") {
        // console.log('Hi');
        title = null;
      }
      //
      let productLeft = document.getElementById("productLeftId").value;

      if (productLeft == "") {
        // console.log('Hi');
        productLeft = null;
      }
      //
      let price = document.getElementById("priceId").value;
      if (price == "") {
        // console.log('Hi');
        price = null;
      }
      //
      let categories = document.getElementById("categoriesId").value;
      if (categories == "") {
        // console.log('Hi');
        categories = null;
      }
      //
      const data = {
        title: title,
        productLeft: productLeft,
        price: price,
        categories: categories,
      };
      //
      const response = await fetch(
        `${window.location.origin}/product/update/${urlId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },

          body: JSON.stringify(data),
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];

          //
          //
          //alert
          await showBootstrapAlert(oneMessage, "primary");
          //--- "new product created"
          //
          // if (oneMessage == "new product created") {
          //   // window.location.href = window.location.href;
          //   //
          //   await setTimeout(() => {
          //     //
          //     window.location.href = window.location.href;
          //   }, 2000);
          // }
          //
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
