<form action="#">
  <!-- Register -->
  <label for="username">Username</label>
  <input type="text" id="loginUsername" required />
  <br />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="loginPassword" required />
</form>
<!-- form Button -->
<button id="loginButton" onclick="onLoginButton()">Submit</button>
