<form action="#">
  <!-- username -->
  <label for="username">Username</label>
  <input type="text" id="registerUsername" required />
  <br />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="registerPassword" required />
</form>
<!--  -->
<!-- form Button -->
<button id="registerButton" onclick="onRegisterButton()">Submit</button>
